-
	var title = 'BREWERY'
	var discription = '広島の象徴である平和公園の東側、元安橋から本通りに入ってすぐのところに、2020年8月に、マイクロブルワリー（クラフトビールの醸造所）を自社のオリジナルビールと炭火焼きが楽しめるパブ＆炭火居酒屋をOPEN！'
	//- var keyword = ''
	var url = 'https://hnb.beer/brewery/'

	var path = '../'
	var img = '../assets/img/'

	var body = 'breweryPage'






doctype html
html(lang='ja')




	include ../partials/_head



				
		include ../partials/_meta




	body#breweryPage.LowPage.LowTemplate.LoadingNow






		include ../partials/_header





		#wrapper





			main#main





				section#KV
					.Section.widthM
						.Header.spanAnim.titleAnim
							h1.pageTitle.row brewery.
							p.fadeIn HIROSHIMA NEIGHBORLY BREWING
							.icon
						.Contents 
							img.fadeIn(src=`${img}brewery/KV.jpg`)



				section#About
					.Section.widthM
					
						.Contents.Contents__00001
							.Header
								.JP.spanAnim.textAnim 
									.row 広島の素材にこだわり、
									.row ドリンカブルなビールを目指す
									.row HIROSHIMA NEIGHBORLY BREWING
								.EN.fadeIn Crafting Drinkable Beers with Hiroshima's Local Ingredients
								h3.spanAnim.titleAnim 
									.row ビールは笑顔になる飲み物
							.imgHolder
								img.fadeIn(src=`${img}brewery/aboutLogo.png`)

						.Contents.Contents__00002
							.imgHolder
								img.fadeIn01(src=`${img}brewery/about00001.jpg`)
								img.fadeIn01(src=`${img}brewery/about00002.jpg`)
								img.fadeIn01(src=`${img}brewery/about00003.jpg`)
					
						.Contents.Contents__00003
							.Header
								.JP.spanAnim.textAnim 
									.row 地元を愛し、
									.row 地域に寄り添う
									.row ビールづくり
								.EN.fadeIn Loving the local area and brewing beer<br>that is close to the community
							.Holder
								p.JP.fadeIn HIROSHIMA NEIGHBORLY BREWING は、<br>広島の豊かな自然と文化を背景に、<br>地域とともに成長し続ける<br>クラフトビールメーカーです。 <br>私たちのビールは、地元の素材をできるだけ使い、<br>技術と情熱を注ぎ込んで作り上げています。
								p.EN.fadeIn HIROSHIMA NEIGHBORLY BREWING<br>is a craft brewery that flourishes alongside Hiroshima's<br>abundant nature and vibrant culture.<br>Our beers are crafted with local ingredients,<br>infused with skill and passion,<br>to resonate deeply with our community.
							.imgHolder
								img.fadeIn(src=`${img}brewery/about00004.jpg`)
					
						.Contents.Contents__00004
							.Header
								.JP.spanAnim.textAnim
									.row 商業・文化の中心地に
									.row 位置するブルワリー
								.EN.fadeIn Brewery in the Heart of<br>Hiroshima City's Culture and Commerce
							.Holder
								p.JP.fadeIn 広島の象徴である広島平和公園の東側、<br>元安橋から本通りに入ってすぐの場所にある<br>広島市内で一番大きな設備を誇るブルワリーです。<br>さらに、醸造設備を眺めながら楽しめる併設の<br>ブリューパブ&居酒屋<br>「Craftbeer と炭火はればれ」もあり、<br>『まさにビール工場の中で飲める!楽しめる!』場所です。
								p.EN.fadeIn Located on Hondori Street,<br>right beside Hiroshima Peace Park in Hiroshima, <br>HIROSHIMA NEIGHBORLY BREWING (HNB) is<br>home to the city's largest brewery.<br>Adjacent to it is 'Craftbeer and Sumibi Harebare,' <br>a lively brewpub and izakaya where you can<br>savor our beers with a view of the brewing facilitiesa<br>destination where the brewery experience comes to life!
							.imgHolder
								img.fadeIn(src=`${img}brewery/about00005.jpg`)
								img.fadeIn(src=`${img}brewery/about00006.jpg`)
					
						.Contents.Contents__00005
							.Header
								.JP.spanAnim.textAnim 
									.row 地元素材へのこだわりと多彩なビール
								.EN.fadeIn A focus on local ingredients and a wide variety of beers
							.Holder
								p.JP.fadeIn
									| この地にあるからこそ、<br>「まちに根付いたものを作りたい」という思いで、 <br>できるだけ広島県産の素材を使い、<br>何度でも飲んでみたいと思っていただける<br>ビール造りを目指しています。<br>乾杯の一杯はもちろん、<br>美味しい料理とペアリングできる<br>ビールでお互いを引き立てる。
									br
									br
									| そんなクラフトビールを追求していきます。 <br>様々なスタイルのビールを、<br>それぞれに独自のストーリーや一口ごとに<br>新しい発見を感じていただけるように願い、<br>醸造に取り組んでいます。
								p.EN.fadeIn Rooted in our community,<br>HIROSHIMA NEIGHBORLY BREWING proudly uses Hiroshima's local ingredients to craft a wide array of beer styles.<br>Each brew tells a unique story, inviting you to explore new discoveries with every sip.<br>Whether it's a celebratory first toast or a perfect pairing with a delicious meal,<br>our beers are designed to complement and elevate both.<br>We are committed to creating craft beers that enhance every experience, sip after sip.
							.imgHolder
								img.fadeIn(src=`${img}brewery/about00007.jpg`)

						.Contents.Contents__00006
							.imgHolder
								img.fadeIn(src=`${img}brewery/about00008.jpg`)
							.Header
								.JP.spanAnim.textAnim 
									.row 地域と共に歩む
									.row サステナビリティ
								.EN.fadeIn Sustainability in Step<br>with the Local Community
							.Holder
								p.JP.fadeIn 醸造過程で生じる麦芽粕は、<br>地元の農家さんや畜産農家さんに<br>肥料や飼料として再利用していただいています。<br>また、企業や農家さんと協力し、<br>アップサイクル製品の開発も目指しています。
								p.EN.fadeIn Malt residues generated during brewing<br>are recycled by local farmers and livestock<br>breeders as fertilizers and animal feed.<br>We also aim to develop upcycled products<br>through collaborations with businesses<br>and farmers.
					
						.Contents.Contents__00007
							.imgHolder
								img.fadeIn(src=`${img}brewery/about00009.jpg`)
							.Header
								.JP.spanAnim.textAnim 
									.row 美味しさと一緒に
									.row 安全もお届け
								.EN.fadeIn Along with deliciousness<br>Delivering safety too
							.Holder
								p.JP.fadeIn 私たちのビールは、<br>いつもそばにある存在でありたい。<br>ビールを手に取るたびに、<br>自然と笑顔がこぼれるような、<br>心温まるひとときをお届けしたい。<br>そんな思いを込めて、設備の洗浄から仕込み、<br>発酵・熟成、パッケージングの細部に至るまで、<br>私たちは丁寧に真摯に醸造しています。
								p.EN.fadeIn Our aim is for our beers to be a constant companion, <br>creating heartwarming moments<br>that naturally bring a smile to your face with every sip.<br>From meticulous equipment<br>cleaning to brewing, fermentation,aging,<br>and packaging, we approach each stage<br>with care and sincerity.





				section#Beer
					.Section 
						.Header.spanAnim.titleAnim
							h2.row ORIGINAL BEER COLLABORATIONS
						.Contents.widthM
							.point Requests for Original Beer and Collaborations
							.Holder 
								h3.fadeIn オリジナルビールや<br>コラボレーション
								.textArea
									p.JP.fadeIn オリジナルビールやコラボレーションのご要望、<br>OEMビールの開発のご相談なども承っております。<br>お気軽にお問い合わせください。
									p.EN.fadeIn We are happy to discuss requests for original beers, <br>collaborations,and OEM beer development.<br>Please feel free to contact us.
							.imgHolder
								img.fadeIn(src=`${img}brewery/beer00001.jpg`)
							a.contactBtn.targetBlank(href="https://hiroshima.beer/pages/contact") 





				section#Brand
					.Section.widthM
						.Header 
							.Logo 
							.textArea 
								h2
									.EN HIROSHIMA NEIGHBORLY BREWING
									.JP （クラフトビール醸造所）
								.LinkHolder 
									a.online.targetBlank(href='https://hiroshima.beer/')
										.icon 
										span online shop
									a.BtoB.targetBlank(href='https://hiroshima.beer/pages/contact')
										span 業務店様・飲食店様は<br>こちら <span class="arrow">▶︎▶︎▶︎</span>
								.snsHolder 
									.Block.Block__00001 
										p お店の情報など<br>随時配信中！
										ul 
											li.ig: a.targetBlank(href='https://www.instagram.com/hnb_beer/')
											li.x: a.targetBlank(href='https://twitter.com/hnb_beer')
											li.fb: a.targetBlank(href='https://www.facebook.com/hiroshimaNB/')
											li.note: a.targetBlank(href='https://note.com/hiroshima_hnb/')
									.Block.Block__00002
										p 業者様向けにHNBビール情報を<br>お届けしています！
										ul 
											li.line: a.targetBlank(href='https://lin.ee/vP9AjZx')
						.Contents 
							p 瀬戸内に日が昇る、朝焼けの色をイメージしたアンバーラガー「広島日の出ラガー」をはじめ、尾道市瀬戸田にある 柑橘農園citrusfarmsたてみち屋さんの Non-chemical なレモンを使用した「HIROSHIMAレモンスカッとセッションIPA」など定番5 種類を基本に、毎月 1~2 種類、限定商 品を醸造し、併設のブリューパブ&居酒屋「Craftbeerと炭火はればれ」では、随時約10種類の樽生ビールを楽しんでいただけます。
							.imgHolder
								img.fadeIn(src=`${img}brewery/brandImg00001.jpg`)
							.swiper.brandSlider
								.swiper-wrapper
									.swiper-slide(style=`background-image: url('${img}brewery/brandImg00001.jpg')`)
									.swiper-slide(style=`background-image: url('${img}brewery/brandImg00002.jpg')`)
									.swiper-slide(style=`background-image: url('${img}brewery/brandImg00003.jpg')`)
									.swiper-slide(style=`background-image: url('${img}brewery/brandImg00004.jpg')`)
								.swiper-controller
									//- .swiper-pagination
									.swiper-button-prev
									.swiper-button-next
							include ../partials/_con-Link





				section#Brewer
					.Section.widthM
						.point Introducing the brewer
						.note 実はあんこ系のお菓子が大好きな甘党でもある<span>・・・</span>。
						.Header.spanAnim.titleAnim
							h2.row OUR BREWER.
							.Name 
								.JP ワーソップ カール
								.EN Warsop Karl
						.Contents 
							p
								| ノースカロライナ州出身。大学で広島に留学。広島が大好きに。
								br
								| 英語の教師をしながら、アメリカや日本のビールを中心に飲みまくり、みんなで楽しく飲む雰囲気の日本の酒飲み文化も好きになる。
								br
								| その後、和歌山県ナギサビールで約２年半勤務し、ビール造りを学ぶ。
								br
								| 広島のクラフトビール専門店であるGOLDEN GARDENやRAKUBEER勤務を経て、HNBでは、ヘッドブルワーとして、真摯にビール造りに取り組んでいる。
								br
								br
								| 今以上に技術や知識をつけ、美味しいビールを造るために、
								br
								| HNBのOPEN前には、世界一のヴァイツェンを造る大山Gビール（鳥取）や圧倒的なクリエイティブ力でビールを造るうしとらブルワリー（栃木）で、先方のご厚意により、ブルワリー（実地）研修を受けるなど意欲的に行動。
						.imgHolder
							img.fadeIn(src=`${img}brewery/brewer00001.jpg`)
						#LinkHolder 
							a.recruit.targetBlank(href='https://en-gage.net/kanaderu/')
								span staff recruit






				include ../partials/_sec-Link






				include ../partials/_footer


			

		include ../partials/_foot
