-
	var title = 'HIROSHIMA NEIGHBORLY BREWING'
	var discription = '広島の象徴である平和公園の東側、元安橋から本通りに入ってすぐのところに、2020年8月に、マイクロブルワリー（クラフトビールの醸造所）を自社のオリジナルビールと炭火焼きが楽しめるパブ＆炭火居酒屋をOPEN！'
	var keyword = ''
	var url = 'https://hnb.beer/'

	var path = './'
	var img = 'assets/img/'

	var body = 'topPage'










include ../partials/_head


			
	include ../partials/_meta





body#topPage.LoadingNow






	include ../partials/_header





	#wrapper





		main#main




			section#KV
	
				.Section.deviceHeight

					.Contents 

						.Logo

						h1.ttlHolder
							span.alpH 
							span.alpI
							span.alpR
							span.alpO
							span.alpS
							span.alpH 
							span.alpI
							span.alpM
							span.alpA

						.txtHolder
							.txtBlock CRAFT<br>BEER &<br>ORIGINAL<br>GOODS
							.txtBlock RESTAURANT<br>SHOP<br>WEB SHOP<br>FACTORY
							.txtBlock MADE IN<br>HIROSHIMA<br>JAPAN

						.movieHolder
							.movieBlock
								video(src=`${img}index/sampleMovie.mp4` muted loop playsinline autoplay poster=`${img}index/sampleMovie.jpg`)
								.ttl PROMOTION MOVIE
								.cover 
									.white 
									.black
							.movieBlock
								video(src=`${img}index/sampleMovie.mp4` muted loop playsinline autoplay poster=`${img}index/sampleMovie.jpg`)
								.ttl PROMOTION MOVIE
								.cover 
									.white 
									.black
							.movieBlock
								video(src=`${img}index/sampleMovie.mp4` muted loop playsinline autoplay poster=`${img}index/sampleMovie.jpg`)
								.ttl PROMOTION MOVIE
								.cover 
									.white 
									.black

					ul.Footer 
						li
							span.secLink.ConceptMovie SCROLL




			section#ConceptMovie
	
				.Section.deviceHeight

					.Linear

					.Contents.widthM
						.sec.sp
							.num.flex
								span 0
								.change
									span 0
									span 1
							.name
								.change
									span MESSAGE
						.Holder
							h2.Header.spanAnim
								span.row ビールは平和だからこそ、おいしい
							p.slideUp HIROSHIMA NEIGHBORLY BREWING（ヒロシマネイバリーブリューイング）は、広島の象徴である平和公園の東側、元安橋から本通りに入ってすぐ、広島の商業・文化の中心地の本通りにあり、2020年8月にOPENしました。<br>広島市内では一番大きな設備を構えるブルワリーです。
						.bg 
							video(src=`${img}index/sampleMovie.mp4` muted loop playsinline autoplay poster=`${img}index/sampleMovie.jpg`)

					ul.Footer 
						li
							span.secLink.MainContents SCROLL



			section#MainContents
	
				.Section

					.Linear

					.Contents.widthM
						.sec.sp
							.num.flex
								span 0
								.change
									span 1
									span 2
							.name
								.change
									span main cotents
						a.Block.Block01.slideUp.targetBlank#OurBeer(href='') 
							.Header
								.ttl OUR BEER 
								.sub HIROSHIMA NEIGHBORYLY BREWING  |  001
							.text 
								p この地にあるからこそ「まちに根付いたものを作りたい」と、できるだけ広島県産の素材を使い、何度でも飲んでみたいと思っていただけるビール造りを目指しています。
								.more View More 
							.bg(style=`background-image: url('${img}index/main00001.jpg');`)
						.Holder
							a.Block.Block02.slideUp.targetBlank(href='')
								.Header
									.ttl BREWERY
									.sub HIROSHIMA NEIGHBORYLY BREWING  |  002
								.text 
									p この地にあるからこそ「まちに根付いたものを作りたい」と、できるだけ広島県産の素材を使い、何度でも飲んでみたいと思っていただけるビール造りを目指しています。
									.more View More 
								.bg(style=`background-image: url('${img}index/main00002.jpg');`)
							.inBlock
								a.Block.Block03.slideUp.targetBlank#OurConcept(href='')
									.Header
										h3
											span our 
											span concept
										.ttl FROM HIROSHIMA JAPAN.
										.sub HIROSHIMA NEIGHBORYLY BREWING  |  003
									.text 
										p この地にあるからこそ「まちに根付いたものを作りたい」と、できるだけ広島県産の素材を使い、何度でも飲んでみたいと思っていただけるビール造りを目指しています。
										.more View More 
									.bg(style=`background-image: url('${img}index/main00003.jpg');`)
								a.Block.Block04.slideUp.targetBlank(href='')
									.Header
										.ttl ORIGINAL GOODS
										.sub HIROSHIMA NEIGHBORYLY BREWING  |  004
									.text 
										p この地にあるからこそ「まちに根付いたものを作りたい」と、できるだけ広島県産の素材を使い、何度でも飲んでみたいと思っていただけるビール造りを目指しています。
										.more View More 
									.bg(style=`background-image: url('${img}index/main00004.jpg');`)
								a.Block.Block05.slideUp.targetBlank(href='')
									.Header
										.ttl RECRUITING
										.sub HIROSHIMA NEIGHBORYLY BREWING  |  005
									.text 
										p この地にあるからこそ「まちに根付いたものを作りたい」と、できるだけ広島県産の素材を使い、何度でも飲んでみたいと思っていただけるビール造りを目指しています。
										.more View More 
									.bg(style=`background-image: url('${img}index/main00005.jpg');`)

					ul.Footer 
						li
							span.secLink.Instagram SCROLL



			section#Instagram
	
				.Section

					.Linear

					.Contents.widthM
						.sec.sp
							.num.flex
								span 0
								.change
									span 2
									span 3
							.name
								.change
									span instagram
						h2.Header.spanAnim
							span.row Our Instagram Feed! 
						.Holder 
							a.Block.targetBlank(href='https://www.instagram.com/p/C3otQ0BvLpK/')
								.img(style=`background-image: url('${img}index/ig/00001.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C3EwA4fvbO3/')
								.img(style=`background-image: url('${img}index/ig/00002.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C2zdHrZv0Se/')
								.img(style=`background-image: url('${img}index/ig/00003.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C2yxO-OPTRZ/')
								.img(style=`background-image: url('${img}index/ig/00004.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C2lx-sxPxk_/')
								.img(style=`background-image: url('${img}index/ig/00005.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C2b61JmPNeh/')
								.img(style=`background-image: url('${img}index/ig/00006.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C2Owx9zP9eS/')
								.img(style=`background-image: url('${img}index/ig/00007.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C13as5_vbH2/')
								.img(style=`background-image: url('${img}index/ig/00008.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C1qnvSDv5R-/')
								.img(style=`background-image: url('${img}index/ig/00009.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C1YrJAYvnDf/')
								.img(style=`background-image: url('${img}index/ig/00010.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C1RL8YeLx5c/')
								.img(style=`background-image: url('${img}index/ig/00011.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C0ieJ6NPScE/')
								.img(style=`background-image: url('${img}index/ig/00012.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C0auZOgPaSg/')
								.img(style=`background-image: url('${img}index/ig/00013.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C0LJcKYP2P1/')
								.img(style=`background-image: url('${img}index/ig/00014.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/C0A6tCRP2K3/')
								.img(style=`background-image: url('${img}index/ig/00015.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/Cz5SbW4vAiu/')
								.img(style=`background-image: url('${img}index/ig/00016.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/Czpr_2DvOcU/')
								.img(style=`background-image: url('${img}index/ig/00017.jpeg')`)
							a.Block.targetBlank(href='https://www.instagram.com/p/CzkxUGoPKP9/')
								.img(style=`background-image: url('${img}index/ig/00018.jpeg')`)

					ul.Footer 
						li
							a.andMore.targetBlank(href='https://www.instagram.com/hnb_beer/') And More
						li
							span.secLink.News SCROLL




			section#News
	
				.Section

					.Linear

					.Contents.widthM
						.sec.sp
							.num.flex
								span 0
								.change
									span 3
									span 4
							.name
								.change
									span news & now
						h2.Header.spanAnim
							span.row NEWS & NOW
						.Holder 
							.Block.slideUp
								span.date 2024.00.00
								span.ttl グラス付きセットの販売を開始いたしました！
							.Block.slideUp
								span.date 2024.00.00
								span.ttl グラス付きセットの販売を開始いたしました！
							.Block.slideUp
								span.date 2024.00.00
								span.ttl グラス付きセットの販売を開始いたしました！
							.Block.slideUp
								span.date 2024.00.00
								span.ttl グラス付きセットの販売を開始いたしました！
							.Block.slideUp
								span.date 2024.00.00
								span.ttl グラス付きセットの販売を開始いたしました！

					ul.Footer 
						li
							a.andMore.targetBlank(href='https://note.com/hiroshima_hnb/') And More
						li
							span.secLink.VisitUs SCROLL




			section#VisitUs
	
				.Section

					.Linear

					.Contents.widthM
						.sec.sp
							.num.flex
								span 0
								.change
									span 4
									span 5
							.name
								.change
									span visit us
					
						.Holder.slideUp
							.textArea 
								a.online.targetBlank(href='')
									.Logo 
									.arrow online shop 
								.cat Beer & Restaurant 
								.details 
									.Logo(style=`background-image: url('${img}index/shopLogoHB.png'); background-size: 80%;`)
									.inBlock 
										h3.name
											span CRAFT BEERと炭火
											span はればれ
										.address 広島県広島市中区大手町1-5-10
										a.tel(href='tel:082-236-9313') 082-236-9313
										ul.open 
											li 12:00-22:00
										a.gm.targetBlank(href='') Google Map
							.imgArea(style=`background-image: url('${img}index/shopHB.jpg')`)
					
						.Holder.slideUp
							.textArea 
								.cat PUB & KITCHEN
								.details 
									.Logo(style=`background-image: url('${img}index/shopLogoGG.png'); background-size: 90%;`)
									.inBlock 
										h3.name
											span WORLD BEER PUB & KITCHEN
											span GOLDEN GARDEN
										.address 広島県広島市中区三川町3-3 志津ビル 1F
										a.tel(href='tel:082-247-6768') 082-247-6768
										ul.open 
											li.wd 16:00-22:00
											li.hd 13:00-22:00
										a.gm.targetBlank(href='') Google Map
							.imgArea(style=`background-image: url('${img}index/shopGG.jpg')`)
					
						.Holder.slideUp
							.textArea 
								.cat Beer & Cafè
								.details 
									.Logo(style=`background-image: url('${img}index/shopLogoRB.png')`)
									.inBlock 
										h3.name
											span Japan Craft Beer Cafè
											span RAKU BEER
										.address 広島県広島市中区三川町3-3 志津ビル 1F
										a.tel(href='tel:082-247-6768') 082-247-6768
										ul.open 
											li.wd 16:00-22:00
											li.hd 13:00-22:00
										a.gm.targetBlank(href='') Google Map
							.imgArea(style=`background-image: url('${img}index/shopRB.jpg')`)

						a.shopList(href='')
							span other shop list 
							span 取扱店舗一覧



					ul.Footer 
						li
							span.secLink.Foot SCROLL






			include ../partials/_footer


		

include ../partials/_foot
