-
	var title = 'OUE BEER'
	var discription = '広島の象徴である平和公園の東側、元安橋から本通りに入ってすぐのところに、2020年8月に、マイクロブルワリー（クラフトビールの醸造所）を自社のオリジナルビールと炭火焼きが楽しめるパブ＆炭火居酒屋をOPEN！'
	//- var keyword = ''
	var url = 'https://hnb.beer/ourbeer/'

	var path = '../'
	var img = '../assets/img/'

	var body = 'ourbeerPage'






doctype html
html(lang='ja')




	include ../partials/_head



				
		include ../partials/_meta




	body#ourbeerPage.LowPage.LowTemplate.LoadingNow






		include ../partials/_header





		#wrapper





			main#main





				section#KV
					.Section.widthM
						.Header.spanAnim.titleAnim
							h1.pageTitle.row our beer.
							p.fadeIn Loving the local area and a wide variety of beers.
							.icon
						.Contents 
							img.fadeIn(src=`${img}ourbeer/KV.jpg`)



				section#About
					.Section.widthM

						h2 OUE BEER.
					
						.Contents.Contents__00001
							.Holder
								p.JP.fadeIn
									| この地にあるからこそ<br class="pc">「まちに根付いたものを作りたい」と、<br class="pc">できるだけ広島県産の素材を使い、<br class="pc">何度でも飲んでみたいと思っていただける<br class="pc">ビール造りを目指しています。
									br
									br
									| 定番5種類をはじめ、毎月限定商品を、<br class="pc">樽・ボトル・缶でリリースしています。
								p.EN.fadeIn
									| Because we are here,<br class="pc">we are driven by the desire to<br class="pc">"create something rooted in the community."<br class="pc">That's why we use as many<br class="pc">local Hiroshima ingredients<br class="pc">as possible to craft beers that people<br class="pc">will want to enjoy time and again.<br class="pc">In addition to our five core beers,
									br
									br
									| we release limited-edition brews<br class="pc">each month in kegs, bottles, and cans.

						.Contents.Contents__00002
							.imgHolder
								img.fadeIn01(src=`${img}ourbeer/about00001.jpg`)
								img.fadeIn01(src=`${img}ourbeer/about00002.jpg`)

						include ../partials/_con-Link




				section#Partners.ourbeerSec
					.Section.widthM
						.Header
							.sub OUR BEER  001
							h2.spanAnim.titleAnim: .row OUR PARTNERS
							h3.fadeIn HNBを支えていただいている、パートナー様の皆様のご紹介
						.Contents
							.Block
								p.JP.fadeIn
									| 広島 本通り。<br>広島平和公園のすぐそばにブルワリーを構える<br class="pc tablet">わたしたちはそう思います。
									br.pc.tablet
									br
									| 当たり前がゆらぎ、様々な変化が起こるいまだから。<br>この『Hiroshima』の地から、<br class="pc tablet">まちに根付いたクラフトビールを作りたい。
									br.pc.tablet
									br
									| 花が咲くように、輪になるように、<br class="pc tablet">いろいろな人が心からリラックスし、<br class="pc tablet">自然と笑顔が咲き誇る場所、<br class="pc tablet">ビールでありたいと考えています。
								p.EN.fadeIn
									| Hondori, Hiroshima.<br>We, who have a brewery right next to Peace Park, <br class="pc tablet">believe this.
									br.pc.tablet
									br
									| In times of uncertainty and constant change, <br class="pc tablet">especially here in Hiroshima, we want to create <br class="pc tablet">craft beer that is deeply rooted in the community.
									br.pc.tablet
									br
									| Like flowers in bloom, like circles forming, <br class="pc tablet">we want our beer to be a place where people from <br class="pc tablet">all walks of life can truly relax, <br class="pc tablet">with smiles naturally blossoming.
						.imgHolder 
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00001.jpg`)
								p 瀬戸田町・citrusfarms たてみち屋さんのレモン
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00002.jpg`)
								p 北広島町・大内林業さんの黒文字（ウッドチップ）
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00003.jpg`)
								p 御調町・門田 巧さんの大麦（麦茶）
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00004.jpg`)
								p 庄原市高野町・ホップ
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00005.jpg`)
								p 三原久井・梶谷農園さんのハーブ・ミント
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00006.jpg`)
								p 音戸町・音戸海産さんの牡蠣
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00007.jpg`)
								p 庄原市・satomachiさんの塩桜
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00008.jpg`)
								p 熊野町・馬上酒造さんの酒粕
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00009.jpg`)
								p 湯来町・サゴタニ牧場さんのホエイ
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00010.jpg`)
								p 東広島・脇農園さんの落花生
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00011.jpg`)
								p 瀬戸田町・セーフティフルーツさんのベルガモット
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00012.jpg`)
								p 三次市・農縁たねまきさんの霧里生姜
							.Block.fadeIn
								img(src=`${img}ourbeer/partnersImg00013.jpg`)
								p 東広島市・にしむら農園さんの苺




				section#Projects.ourbeerSec
					.Section.widthM
						.Header
							.sub OUR BEER  002
							h2.spanAnim.titleAnim: .row FEATURING PROJECTS
							h3.fadeIn 地域と未来をつなぐクラフトビール&プロジェクト

						.Contents

						
							.Block.Block__00001.slideUp
								.point HNB Special project.
								.Header
									img.Logo(src=`${img}ourbeer/LogoLemovel.png` alt="Lemo-vel GO HIROSHIMA (Lemon & Navel Orange) レモブル GO HIROSHIMA")
									p たくさんの方のご支援で開発した<br class="pc">明るい未来を感じられるような<br class="pc">鮮やかな黄金色が美しいゴールデンエールです。<br>生産量日本一の広島のレモンとネーブルは<br class="pc">尾道市瀬戸田にある citrusfarms<br class="pc">たてみち屋さんの Non-chemical のものを<br class="pc">使わせていただきました。
								img(src=`${img}ourbeer/LemovelImg.jpg`)

								.detailsContents 
									.imgHolder 
										img(src=`${img}ourbeer/Block01Img00001.jpg`)
										img(src=`${img}ourbeer/Block01Img00002.jpg`)
										img(src=`${img}ourbeer/Block01Img00003.jpg`)
										img(src=`${img}ourbeer/Block01Img00004.jpg`)
									.Inner 
										.textArea 
											p
												| コロナ禍の2020年9月、弊社は「広島県産素材を使用したオリジナルクラフトビールを造り、街を盛り上げたい！」とクラウドファンディングに挑戦させていただきました。
												br
												br
												| ご支援いただだく皆様と一緒に、広島の未来を表現する新しいクラフトビールを造り、新たな広島の地域産品として育成し、また、そのビールを介して新たなコミュニティや賑わいが創出され、広島へ足を運んでみたいと思うきっかけづくりになるなど、少しでも広島の街の活気の礎の一つにつなげていければという思いから開始。<br>ありがたいことに、公開約１日で当初の目標金額を上回り、また、ネクストゴールも達成させていただくことができたこと、心より感謝を申し上げます。
												br
												br
												| 私達はできるだけ、広島の旬の素材を使用し、何度でも飲んでみたいと思っていただけるビール造りを目指しています。今回のビールも素材選びから。<br>しまなみ海道の真ん中あたりの島で、農薬や化学肥料を必要としない畑の環境を作るため、土づくりを大切にした「 食べて美味しいレモンや柑橘 」を生産されている、広島県・尾道市瀬戸田にある『citrusfarmsたてみち屋』さんのレモンとネーブルを使用しています。
											a.targetBlank(href="https://www.tatemichiya.com/") 
												span 『citrusfarmsたてみち屋』さん詳細情報はこちら
											a.targetBlank(href="https://hiroshima.beer/products/lemon6set?_pos=3&_sid=41eb228a7&_ss=r") 
												span 商品詳細情報はこちら
										.imgArea
											img(src=`${img}ourbeer/Block01Img00005.png`)
										.btnArea
											a.targetBlank(href="https://camp-fire.jp/projects/318486/view/activities/246602") クラウドファンディング<br class="sp">プロジェクト詳細ページ
											p.note ※プロジェクト応募は終了しております。

								.ViewBtn 
									span.open VIEW MORE 
									span.close CLOSE
									.icon

						
							.Block.Block__00002.slideUp
								.point HNB Special project.
								.Header
									img.Logo(src=`${img}ourbeer/LogoBarrel.png` alt="隣期桜変　HIROSHIMA NEIGHBORLY BREWING Barrel Aged Beer")
									p HIROSHIMA BARREL RELAY PROJECTからはじまった<br class="pc">『SAKURAO BREWERY & DISTILLERY(S&D)』さんの<br class="pc">ウイスキー樽で長期熟成したバレルドエイジドビール<br class="pc">『隣期桜変（りんきおうへん）』。<br>HNB が同じ県内のご近所さんでもある<br class="pc">（隣のという意味で）S&Dさんの樽で期を熟して<br class="pc">ビールを変化させるという意味で名付けました。
									p.note バレル（木樽）で熟成させるビール。国内のブルワリーではまだ醸造しているブルワリーは多くありません。バレル自体の種類もウイスキーやシェリー、ワイン、バーボン樽など様々で、その樽由来の香りがビールにつき出来上がります。また、中に詰めるビールの種類もルールはなく、ハイアルコールのビールからフルーツビールなど、詰めるものもそれぞれで、バレル自体の種類や状態、熟成期間、そしてブルワリーやビールの種類ごとに全く味わいが異なるのも魅力のひとつです。
								img(src=`${img}ourbeer/BarrelImg.png`)

								.detailsContents 
									.Inner.Inner__00001
										.num
											span 第
											span 1
											span 弾
										.details 
											.Logo 
											.Name バレルエイジドインペリアルスタウト
											p 世界に誇る広島県廿⽇市にあるSAKURAO DISTILLERYの桜尾シングルモルトウイスキーの樽で約10ヶ⽉じっくりと熟成したHNB初のバレルエイジドインペリアルスタウトです。ほどよい苦味とロースト⻨芽の⾹ばしさ、バニラのような⽢い⾹りに、ウイスキー樽の⾹りと原酒由来のフレーバーが絡み合う、濃厚で奥深い味わいです。 
											a.targetBlank(href="https://prtimes.jp/main/html/rd/p/000000002.000106325.html") プレスリリース
										img(src=`${img}ourbeer/Block02Img00001.jpg`)
									.Inner.Inner__00002
										.num
											span 第
											span 2
											span 弾
										.details 
											.Logo 
											.Name ベルジャン IPA
											p 『SAKURAO』の『シングルモルトジャパニーズウイスキー桜尾』の樽で約 15 ヶ月熟成した バレルエイジドベルジャン IPA。元のベルジャン IPA が、長期熟成で三温糖の増した甘みとホップの苦みが相まって ほどよい上品な甘みとクリーミーな香りに変化し、また樽からのバニラ香と豊富な スモーク香が絡み合った濃厚で奥深い味わいです。
											a.targetBlank(href="https://prtimes.jp/main/html/rd/p/000000006.000106325.html") プレスリリース
										img(src=`${img}ourbeer/Block02Img00002.jpg`)
									.projectInner
										.textArea 
											.Header
												.Logo 
												.title
													h3 HIROSHIMA BARREL<br>RELAY PROJECT
													span （ヒロシマバレルリレープロジェクト）
												p 酒のジャンルを超え集まった広島のクラフト酒メーカー5社が連携し ウイスキー樽やワイン樽を使用し熟成した商品をリレーしてつくる、広島生まれのアルコールで広島を盛り上げることを目的とした初試みのプロジェクト。2022年よりスタート。広島生まれのアルコールの新商品を生み出すことで、広島の酒業界の活性化にもつなげていきます。
											img(src=`${img}ourbeer/Block02Img00003.jpg`)
										.makerList
											h3 参加メーカー
											.swiper.makerSlider
												.swiper-wrapper
													.swiper-slide
														.img(style=`background-image: url('${img}ourbeer/LogoSakurao.jpg')`)
														h4.EN SAKURAO BREWERY<br>& DISTILLERY
														p （廿日市市）
													.swiper-slide
														.img(style=`background-image: url('${img}ourbeer/LogoKamoizumi.jpg')`)
														h4.JP 賀茂泉酒造
														p （東広島市）
													.swiper-slide
														.img(style=`background-image: url('${img}ourbeer/LogoFujii.jpg')`)
														h4.JP 藤井酒造
														p （竹原市）
													.swiper-slide
														.img(style=`background-image: url('${img}ourbeer/LogoVV.jpg')`)
														h4.EN Vinoble Vineyard
														p （三次市）
													.swiper-slide
														.img(style=`background-image: url('${img}ourbeer/LogoHNB.jpg')`)
														h4.EN HIROSHIMA<br>NEIGHBORLY BREWING
														p （広島）




								.ViewBtn 
									span.open VIEW MORE 
									span.close CLOSE
									.icon


							include ../partials/_con-Link




				include ../partials/_sec-Link






				include ../partials/_footer


			

		include ../partials/_foot
