//- script(type='text/javascript', src=`${path}assets/js/jquery.min.js`)
script(type='text/javascript', src=`${path}assets/js/scrollreveal.min.js`)
script(type='text/javascript', src=`${path}assets/js/swiper.min.js`)
script(type='text/javascript', src=`${path}assets/js/luxy.min.js`)


//- Project JS
if body == 'aboutPage'
  script(type='text/javascript', src=`${path}assets/js/cursor.min.js`)
  script(src='https://cdnjs.cloudflare.com/ajax/libs/rellax/1.0.0/rellax.min.js')
else if body == 'conceptPage'
  script(src='https://cdnjs.cloudflare.com/ajax/libs/rellax/1.0.0/rellax.min.js')
else if body == 'historyPage'
  script(src='https://cdnjs.cloudflare.com/ajax/libs/rellax/1.0.0/rellax.min.js')
script(type='text/javascript', src=`${path}assets/js/app.min.js`)
//- script(type='text/javascript', src=`${path}assets/js/app.js`)
