if body == 'topPage'
	title #{title}
else 
	title #{title} | HIROSHIMA NEIGHBORLY BREWING

meta(name='description', content=`${discription}`)

//- meta(name='keyword', content=`${keyword}`)

<!-- OGP -->
if body == 'topPage'
	meta(property='og:title', content=`${title}`)
else 
	meta(property='og:title', content=`${title} | HIROSHIMA NEIGHBORLY BREWING`)

meta(property='og:type', content='website')
meta(property='og:url', content=`${url}`)
meta(property='og:image', content='https://hnb.beer/assets/img/ogp.jpg')
meta(property='og:site_name', content='HIROSHIMA NEIGHBORLY BREWING')

meta(property='og:description', content=`${discription}`)

meta(name='twitter:card', content='summary_large_image')

if body == 'topPage'
	meta(property='twitter:title', content=`${title}`)
else 
	meta(property='twitter:title', content=`${title} | HIROSHIMA NEIGHBORLY BREWING`)

meta(name='twitter:description', content=`${discription}`)


meta(name='twitter:image', content='https://hnb.beer/assets/img/ogp.jpg')
